body {
    font-family: 'Helvetica', sans-serif;
}


#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#title {
    position: fixed;
    top: 0;  
    left: 0;  
    font-family: 'Helvetica', 'Arial', sans-serif; 
    font-size: 50px;  /* make it big */
    font-weight: bolder;  
    color: #ffffff;  
    border-radius: 10px;  /* rounded corners */
    padding: 10px;  /* optional padding */
}

  

#sliderControls {
    position: fixed;
    flex-direction: column;
    bottom: 10px;
    right: 10px;
    width: 25em; 
    min-height: 110px;
    max-height: 110px; 
    overflow-y: hidden; 
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    transform: none;
}

#sliderControls.expanded {
    max-height: 90vh; /* Height when expanded */
    overflow-y: auto; /* Allow scrolling */
}

#expand-button {
    position: absolute;
    bottom: 10px;  /* this will give you a little margin from the bottom */
    left: 50%;
    transform: translateX(-50%); /* this will move it to the center */
    cursor: pointer;
}


.slider-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
}

.control-button {
    width: 200px;  /* Width of the button */
    height: 200px;  /* Height of the button */
    font-size: 24px;  /* Font size of the text */
    margin: 10px;  /* Margin around each button */
    cursor: pointer;  /* Makes a clickable hand appear */
}

#playPauseControls {
    position: fixed;
    top: 10%;  
    left: 2%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;
  }
  
  #toggleButton {
    color: white;
    width: 150px;
    height: 150px;
    left: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    opacity: 0.6;
    z-index: 4;
  }
  
  #toggleButton i {
    font-size: 150px;
  }


video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

#pomodoro-controls {
    position: fixed;
    bottom: 10px;  /* keep this if you want it at the bottom */
    left: 50%;  /* Center it horizontally */
    transform: translateX(-50%);  /* Adjust for the exact center */
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

#clock-icon {
    text-align: center;
    margin-bottom: 10px;
}

#clock-icon i {
    font-size: 50px;
    color: tomato;
}


#timer {
    font-size: 2em;
    margin-bottom: 10px;
}

#cycle-count {
    margin-top: 10px;
}

#button-container {
    position: fixed;
    top: 5px;
    right: 10px;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#about-button-container, #switch-video {
    margin-bottom: 10px; 
    margin-right: 5px; 
    margin-left: 5px; 
    margin-top: 10px;
}

/* Style for about pop up */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
  
  .close-button {
    cursor: pointer;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  #todo-list-container {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 25em;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    z-index: 2;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #todo-input {
    width: 100%;
    margin-bottom: 5px;
  }

  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    max-width: 500px; /* Limit the width */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add an ellipsis when the content overflows */
    white-space: nowrap;
  }
  
  .checked-item {
    text-decoration: line-through;
  }
  
  h2 {
    text-align: center;
    font-size: 2em;
    width: 100%;
    margin: 0;
    padding: 10px 0; /* Optional: Add some padding at the top and bottom */
}

    h3 {
        text-align: center;
        font-size: 1.5em;
        width: 100%;
        margin: 0;
        padding: 10px 0; /* Optional: Add some padding at the top and bottom */
    }

  